/* top left link list */

a{
    font-family: 'Dancing Script', cursive;
}
li{
    style=" font-family: 'Dancing Script', cursive;"
}
.link-list{
    padding: 2%;
    font-size: 1.5rem;
}

.scnd{
    height: 10rem;
    padding: 1rem 0 0 0 ;
}

h1{
    font-family: 'Edu SA Beginner', cursive;
}



p{
    padding: 10% 0 1%;
    font-family: 'Kaushan Script', cursive;
}
