/* top left link list */

.link-list{
    padding: 2%;
    font-size: 1.5rem;
}

.scnd{
    height: 20rem;
    padding: 3rem 0 0 0 ;
}

.h1{
    font-family: 'Kaushan Script', cursive;
}



p{
    padding: 10% 0 1%;
    font-family: 'Edu SA Beginner', cursive;
}
