@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    --dark-background: rgb(50, 50, 50);
    --background-color: rgb(61, 61, 61);
    --background-color-light: rgb(94, 94, 94);
    --button-color: rgba(0, 136, 169, 1);
    --shadow: rgb(35, 35, 35);
    /* width: 100%; */
}

.white {
    color: #fff;
}

body {
    padding-top: 130px;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(61, 61, 61);
    margin: 0;
}

header {
    background-color: rgb(50, 50, 50);
    color: #fff;
    width: 100%;
    display: flex;
    font-weight: 400;
    font-size: 16px;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    box-shadow: 0px 0px 20px var(--shadow);
    position: fixed;
    top: 0;
    z-index: 200;

}

.logo {
    margin-right: auto;
}

.logo:hover {
    cursor: pointer;
}

.nav-links {
    list-style: none;

}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.nav-links a:hover {
    color: rgb(53, 215, 255);
    transition: all 0.3s ease 0s;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

button {
    margin-left: 20px;
    background-color: var(--button-color);
    border-radius: 50px;
    cursor: pointer;
    border: none;
    padding: 9px 25px;
    width: 9rem;
}

button:hover {
    background-color: rgb(0, 98, 122);
    transition: all 0.3s ease 0s;
}

#services {
    padding: auto;
}

.head-title {
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type='email'] {
    background-color: #fff;
    border: none;
    height: 40px;
    width: 16rem;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

input[type='email']:focus {
    box-shadow: 0px 0px 10px var(--button-color);
    border: var(--button-color) solid;
    transition: all 0.1s ease 0s;
}

input[type='submit'] {
    width: 9rem;
    height: 40px;
    background-color: var(--button-color);
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: bold;
}

input[type='submit']:hover {
    background-color: rgb(0, 109, 136);
    transition: all 0.3s ease 0s;
}

.service-container {
    padding: 40px 0;
    margin: auto 1rem;
    display: flex;
    justify-content: space-around;
}

.service-card {
    width: 15rem;
    height: 250px;
    text-align: center;
    background-color: var(--dark-background);
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--shadow);
    padding: 20px 10px;
    color: #fff;
    margin: auto 0.5rem;
}

#projects {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

iframe {
    border-radius: 20px;
    width: 50%;
    height: 400px;
    margin: auto;
}

.donations {
    padding: 3rem 20px;
}

.donations li {
    margin: 20px 0;
}

.bold {
    font-weight: bold;
}

.footer-section {
    background-color: var(--dark-background);
    bottom: 0;
    position: relative;
    height: 250px;
    padding: 20px;
}


.footer-section a {
    color: #fff;
    display: inline-block;
    margin: auto;
    padding: 5px;
    text-decoration: none;
}

.footer-section a:hover {
    color: rgb(53, 215, 255);
    transition: all 0.3s ease 0s;
}

.blue {
    color: var(--button-color);
}

@media screen and (max-width: 768px) {
    .service-container {
        padding: 40px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .service-card {
        height: 200px;
        width: 20rem;
        margin: 20px 0;
    }
}